<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="modal_confirm">
		<!-- Modal confirm -->
		<div class="modal" id="confirmModal"
			style="display: none; z-index: 1050;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="confirmMessage">Modal title</h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="confirmOk">Ok</button>
						<button type="button" class="btn btn-primary" id="confirmCancel">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>